header{
    height: 100vh;
}

#header-title{
    color: #008CCA;
    text-align: center;
    width: 50%;
    margin: auto;
}

#btns{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn-sections{
    width: 300px;
    height: 250px;
    border-radius: 30px;
    border:none;
    color: white;
    background: linear-gradient(120deg,rgba(250,167,50,80%),rgba(0, 140, 202, 80%));

    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

#icon-scroll-container{
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}

#icon-scroll{
    position: absolute;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.section-title{
    color: #008CCA;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
    font-size: 40px;
}

#btns-sections{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    overflow: hidden;
    margin-bottom: 50px;
}

#services{
    margin-top: 100px;
    height: 100vh;
}

.btn{
    width: 300px;
    height: 100px;

    border-radius: 10px;
    border: none;
    color: white;
    background: rgba(250,167,50,80%);

    font-weight: 400;
    font-size: 20px;
    line-height: 47px;
}

.btn-nota-fiscal{
    width: 380px;
    height: 250px;
}