<header>
    <h1 id="header-title">BEM-VINDO(A) À SALA VIRTUAL DO EMPREENDEDOR DE COSTA MARQUES</h1>

    <div id="btns">
        <button onclick="document.getElementById('services').scrollIntoView();" class="btn-sections">SERVIÇOS</button>
        <button onclick="document.getElementById('nota-fiscal').scrollIntoView();" class="btn-sections">CERTIDÕES NEGATIVAS</button>
        <button onclick="document.getElementById('certidoes-negativas').scrollIntoView();" class="btn-sections">NOTA FISCAL</button>
    </div>

    <div id="icon-scroll-container"><a href="/sala-virtual/#services"><img id="icon-scroll" src="..\assets\images\scroll.svg" alt="scroll icon"></a></div>
</header>
<main>    
    <section id="services">
        <h1 class="section-title">SERVIÇOS</h1>
        <div id="btns-sections">
            <button class="btn btn-services">Serviço X</button>
            <button class="btn btn-services">Serviço X</button>
            <button class="btn btn-services">Serviço X</button>
            <button class="btn btn-services">Serviço X</button>
            <button class="btn btn-services">Serviço X</button>
            <button class="btn btn-services">Serviço X</button>
            <button class="btn btn-services">Serviço X</button>
            <button class="btn btn-services">Serviço X</button>
            <button class="btn btn-services">Serviço X</button>
        </div>
    </section>
</main>

