<header>
    <h1 id="header-title">BEM-VINDO(A) À SALA VIRTUAL DO EMPREENDEDOR DE COSTA MARQUES</h1>

    <div id="btns">
        <button onclick="document.getElementById('services').scrollIntoView();" class="btn-sections">SERVIÇOS</button>
        <button onclick="document.getElementById('nota-fiscal').scrollIntoView();" class="btn-sections">CERTIDÕES NEGATIVAS</button>
        <button onclick="document.getElementById('certidoes-negativas').scrollIntoView();" class="btn-sections">NOTA FISCAL</button>
    </div>

    <div id="icon-scroll-container"><a href="/sala-virtual/#services"><img id="icon-scroll" src="..\assets\images\scroll.svg" alt="scroll icon"></a></div>
</header>
<main>    
    <section id="services">
        <h1 class="section-title">SERVIÇOS</h1>
        <div id="btns-sections">
            <button class="btn btn-services">Imprimir Boleto Mensal (DAS)</button>
            <button class="btn btn-services">Declaração Anual (DASN)</button>
            <button class="btn btn-services">Parcelamento Simples Nacional</button>
            <button class="btn btn-services">CCMEI</button>
            <button class="btn btn-services">Imprima seu CNPJ</button>
            <button class="btn btn-services">Parcelamento Dívida Ativa</button>
            <button class="btn btn-services">Formalize o MEI</button>
            <button class="btn btn-services">Altere seus Dados MEI</button>
            <button class="btn btn-services">Feche seu MEI</button>
            <button class="btn btn-services">Inscrição Municipal</button>
            <button class="btn btn-services">Inscrição Estadual</button>
            <button class="btn btn-services">Protocolo Online</button>
            <button class="btn btn-services">Portal do Contribuinte</button>
            <button class="btn btn-services">Consulta de Optantes Simples Nacional</button>
            <button class="btn btn-services">Solicite Res. Pag. DAS Duplicado</button>
        </div>
    </section>
    <section id="nota-fiscal">
        <h1 class="section-title">NOTA FISCAL</h1>
        <div id="btns-sections">
            <button class="btn btn-nota-fiscal">Serviço X</button>
            <button class="btn btn-nota-fiscal">Serviço X</button>
            <button class="btn btn-nota-fiscal">Serviço X</button>
        </div>
    </section>
    <section id="certidoes-negativas">
        <h1 class="section-title">CERTIDÕES NEGATIVAS</h1>
        <div id="btns-sections">
            <button class="btn btn-certidoes-negativas">Serviço X</button>
            <button class="btn btn-certidoes-negativas">Serviço X</button>
            <button class="btn btn-certidoes-negativas">Serviço X</button>
            <button class="btn btn-certidoes-negativas">Serviço X</button>
            <button class="btn btn-certidoes-negativas">Serviço X</button>
            <button class="btn btn-certidoes-negativas">Serviço X</button>
        </div>
    </section>
</main>

